body {
    background: linear-gradient(#162641, #0b3d7b) fixed;
    color: #EEE;
    font-family: 'Josefin Sans', sans-serif;
}

.navbar a {
    text-decoration: none;
    margin: 0 1em;
}

.navbar a:visited {
    color: white;
    text-decoration: none;
}

.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

form input, form select, form textarea {
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
}

form button[type="submit"] {
    width: 30%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: white;
    color: #162641;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
    margin: 0 auto;
}

th, td {
    padding: 10px;
}






