{% extends 'base.html.twig' %}

{% block title %}Mon profile{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt4">Mon profile</h1>

        {{ form(form) }}
    </div>

{% endblock %}
