<nav class="navbar">
            <a href="{{ path('sortie_liste') }}" title="Liste des sortie">Liste des sorties</a>
            <a href="{{ path('app_participant_edit') }}" title="Mon profil">Mon profil</a>
            <a href="{{ path('CreationSortie') }}" title="créer une sortie">Créer une sortie</a>
</nav>