<nav>
    <ul>
        <li><a href="{{ path('sortie_liste') }}" title="liste des sortie">liste des sortie</a><a href="{{ path('app_participant_edit') }}" title="Mon profil">Mon profil</a><a href="{{ path('CreationSortie') }}" title="crée une sortie">crée une sortie</a></li>
    </ul>
</nav>